page-login {
	.content, .content-ios,.content-md,.content-md{
		background-image: url(../assets/bg/bg.jpg);
		background-size: cover;
		background-position: center;
		font-family: "Roboto", sans-serif;
	.login{
		
		&-block{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 568px;
		}
		&-logo{
			width: 200px;
			padding-bottom: 10px;
			margin: 0 auto 30px;
			border-bottom: 1px solid #68ba78;
		}
		&-form{
		    width: 90%;
		    background-color: rgba(0, 0, 0, 0.2);
		    border-radius: 6px;
		    display: flex;
		    margin:0 auto;
		    flex-direction: column;
		    align-items: center;
		    justify-content: space-around;
		    height: 295px;
		    box-shadow: 0 0px 15px -4px #000;
		}
		&-input{
			&-row{
				margin-bottom: 20px;
				position: relative;
			}
			&-icon{
				content: '';
			    position: absolute;
			    left: 14px;
			    top: 0;
			    width: 16px;
			    height: 40px;
			    background-repeat: no-repeat;
			    background-size: 100%;
			    background-position: center;
				&-user{
					background-image: url(../assets/icon/user.svg);
				}
				&-lock{
					background-image: url(../assets/icon/lock.svg);
				}
			}
			&-list{
				position: relative;
				width: 100%;
				padding: 0 10%;
			}
			&-item{
				width: 100%;
				background-color: rgba(255, 255, 255, 0.2);
				border: 2px solid #454545;
				padding: 0 10px 0 40px;
				line-height: 40px;
				border-radius: 4px;
				color: #fff;
				font-size: 18px;
			}
		}
		&-footer{
			width: 65%;
		}
		&-submit{
			background-color: #454545;
			border: none;
			color: #fff;
			font-size: 18px;
			padding: 15px 20px;
			border-radius: 5px;
			width: 100%;
			box-shadow: 0 3px 15px -5px #000;
		}
		&-title{
			color: #fff;
			font-size: 35px;
		}
		&-forgot{
			text-align: center;
			width: 100%;
			margin-top: 10px;
			ion-item{
				font-size: 16px;
				color: #212121;
				text-decoration: none;
				background-color: transparent;
				ion-label{
					margin: 0;
					text-align: center;
				}
				.item-inner{
					border-bottom: none;
				}
			}
		}
		&-register{
			text-align: center;
			width: 100%;
			bottom: 0px;
			ion-item{
				font-size: 16px;
				color: #fff;
				background-color: transparent;
				ion-label{
					margin: 0;
					text-align: center;
					text-decoration: underline;
				}
				.item-inner{
					border-bottom: none;
				}
			}
		}
	}
}
}
