<!--
  Generated template for the InnerPlaceDish page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="app-header">
  <ion-navbar>
    <button ion-button menuToggle class="app-menu-btn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="app-logo"><img src="assets/logo.svg"></ion-title>
    <ion-buttons class="md" end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content> 
	<div class="place-bg">
		<ion-slides #bookSlider (ionSlideDidChange)="onSlideChanged($event)">
			<ion-slide *ngFor=" let item of bookSlides"  >
				<ion-item (click)="showModal()">
					<img src="{{item.url}}">
				</ion-item>
			</ion-slide>
		</ion-slides>

		<ion-item>
		  <ion-label>Зал:</ion-label>
		  <ion-select [(ngModel)]="bookForm.bookZone"  okText="Выбрать" cancelText="">
		    <ion-option 
		    	*ngFor="let item of bookCurr.zones" 
		    	value="{{item.name}}"
		    	(ionSelect)="setCurZone(item.id)"
		    >
		    {{item.name}}
		    </ion-option>
		  </ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Столик:</ion-label>
			<ion-select [(ngModel)]="bookForm.bookTable" okText="Выбрать" cancelText="">
				<ion-option *ngFor="let i of bookTables" value="{{i}}">{{i}} столик</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
		  <ion-label>День</ion-label>
		  <ion-datetime 
		  	monthNames="января, февраля, марта, апреля, мая, июня, июля, августа, сентября, октября, ноября, декабря"
			doneText="Выбрать" cancelText=""
		  	displayFormat="D MMMM" [(ngModel)]="bookForm.bookDay"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label>Время</ion-label>
		  <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookForm.bookTime" doneText="Выбрать" cancelText=""></ion-datetime>
		</ion-item>
		<div class="submit-btn"> 
			<button (click)="goSubmitBook()">Продолжить</button>
		</div>
	</div>
</ion-content>
