page-tabs {
	font-family: 'HelveticaNeueCyr',sans-serif;
	.tabs-ios,.tabs-md,.tabs-wp{
		.tabbar{
			background: transparent;
			border-top: none;
		}
		.tab-button{
			text-transform: uppercase;
			padding: 10px 0 5px!important;
			border-radius: 5px 5px 0 0;
			background-color: #d2d2d2;
			font-size: 14px!important;
			.tab-button-text{
				transform: scale(1)!important;
			}
			&:last-of-type{
			}
			&:before{
				margin-bottom: 5px;
			}
			&-text{
				margin:0;
			}
		}
		.tab-button[aria-selected=true]{
			background-color: #50c93a;
			&:before{
				background-position-y: bottom;
			}

		}
	}
	
	#tab-t0-0{
		&:before{
			content:'';
			display: block;
			width: 48px;
			height: 30px;
			background-image: url(../assets/icon/place.svg);
			background-size: 100% auto;
		}
	}
	#tab-t0-1{
		&:before{
			content:'';
			display: block;
			width: 49px;
			height: 30px;
			background-image: url(../assets/icon/checkin-1.svg);
			background-size: 100% auto;
		}
	}
	#tab-t0-2{
		&:before{
			content:'';
			display: block;
			width: 54px;
			height: 30px;
			background-image: url(../assets/icon/delivery.svg);
			background-size: 100% auto;
		}
	}
}
