<ion-menu [content]="mycontent" class="filter-menu" side="right" id="menu-right" (ionClose)="closeMenu()">
	<ion-content>
	<div class="filter-bg">
		<ion-list>
			<ion-title class="filter-title"> Фильтрация </ion-title>
			<ion-item>
				<ion-label stacked> 
					Выбрать город
				</ion-label>
				<ion-select placeholder="Выбрать" cancelText="" okText="Выбрать" [(ngModel)]="filter.placeCity">
					<ion-option *ngFor="let item of filters.placeCity" value="{{item.id}}">{{item.title}}</ion-option>
				</ion-select>
			</ion-item>	
			<ion-item>
				<ion-label stacked> 
					Сортировать по
				</ion-label>
				<ion-select placeholder="Выбрать" cancelText="" okText="Выбрать" [(ngModel)]="filter.placeSort">
					<ion-option *ngFor="let item of filters.placeSort" value="{{item.id}}">{{item.title}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label stacked>Тип заведения</ion-label>
				<ion-select placeholder="Выбрать" cancelText="" okText="Выбрать" multiple="true" [(ngModel)]="filter.placeType">
					<ion-option *ngFor="let item of filters.placeType" value="{{item.id}}">
						{{item.title}}
					</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label stacked>Подобрать заведения</ion-label>
				<ion-select placeholder="Выбрать" cancelText="" okText="Выбрать" multiple="true" [(ngModel)]="filter.placeFeat">
					<ion-option *ngFor="let item of filters.placeFeat" value="{{item.id}}">
						{{item.title}}
					</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label stacked>Кухни / Блюда</ion-label>
				<ion-select placeholder="Выбрать" cancelText="" okText="Выбрать" multiple="true" [(ngModel)]="filter.placeKitchen">
					<ion-option *ngFor="let item of filters.placeKitchen" value="{{item.id}}">
						{{item.title}}
					</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Скрывать закрытые</ion-label>
				<ion-toggle [(ngModel)]="filter.placeStatus"></ion-toggle>
			</ion-item>
			<ion-item>
				<ion-label>Средний чек</ion-label>
				<ion-range 
					step="100" snaps="true"
					dualKnobs="true"
					min="1000"
					max="25000" 
					[(ngModel)]="filter.placeAverage"
				>
					<ion-label range-left>{{filter.placeAverage.lower}}</ion-label>	
					<ion-label range-right>{{filter.placeAverage.upper}}</ion-label>	
				</ion-range>
			</ion-item>
		</ion-list>

		<div class="filter-submit">
			<button class="filter-submit-btn" (click)="setFilters()" ion-button>Применить</button>
		</div>
	</div>
	</ion-content>
</ion-menu>


<ion-header class="app-header">
  <ion-navbar>
    <button ion-button menuToggle="left" class="app-menu-btn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="app-logo"><img src="assets/logo.svg"></ion-title>
    <ion-buttons end>
      <button class="app-menu-btn" ion-button icon-only menuToggle="right">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #mycontent>
	<ion-searchbar 
	placeholder="Поиск" 
	(ionInput)="getItems($event)">
		
	</ion-searchbar>

	<ion-card class="c-place" *ngFor="let place of places">
	    <img src="{{place.src}}"/>
	    <ion-grid>
	    	<ion-row>
	    		<ion-col class="c-place-desc" (click)="goInner(place.id)" width-5>
	    			<div class="card-title c-place-title">{{place.title}}</div>
	    			<div class="card-subtitle c-place-address">{{place.address}}</div>
	    			<div [ngClass]="(place.open) ? 'card-status-open' : 'card-status-closed'" [innerHTML]="(place.open) ? 'открыто' : 'закрыто'" 		    			class="card-status">
    				</div> 
	    			<div class="card-rating c-place-rating">
	    				<div class="c-place-rating-stars">
	    					<div class="c-place-star" *ngFor="let item of getStars(5, place.star)">
	    						<ion-icon *ngIf="item" name="star"></ion-icon>
	    						<ion-icon *ngIf="!item" name="star-outline"></ion-icon>
	    					</div>
	    				</div>
	    				<div class="card-rating-count">
		    				({{place.count}})
	    				</div>
	    			</div>
	    		</ion-col>
	    		<ion-col class="c-place-desc" width-5>
	    			<ion-buttons>
	    				<button (click)="goInnerPlaceBook(place.id)" ion-button block class="c-place-btn primary"><i class="ic ic-clock"></i>Забронировать</button>
	    				<button ion-button block class="c-place-btn hollow"  (click)="CallNumber(place.phone)"><i class="ic ic-tel"></i>Позвонить</button>
	    			</ion-buttons>
	    		</ion-col>
	    	</ion-row>

	    </ion-grid>
	   
 	</ion-card>
 	<ion-infinite-scroll (ionInfinite)="doInfinite($event,count)">
	   <ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
