page-my-story {
  .content, .content-ios,.content-md,.content-md{
    background-image: url(../assets/bg/bg-home.jpg);
    background-size: cover;
    min-height: 100%;
    .swiper-slide{
      align-items: flex-start;
      height: 0;
      &-active{
        height: auto;
      }
    }
		.swiper-container{
			overflow: visible;
		}
    .slider-wrapper{
      overflow: hidden;
			margin: 0 10px;
    }
    .place{
      &-tab{
				&-list{
					margin: 5px 0;
					position:absolute;
					transition: .4s;
					&.sticky{
						position: fixed;
						top:60px;
						z-index: 10;
						background-color: rgba(255,255,255,.95);
						margin:0;
						padding-top:0px;
					}
					&-wrapper{
						height: 52px;
						position: relative;

					}
				}
				&-item{
					background-color: transparent;
					border: none;
					color: #000;
					font-size: 14px;
					margin: 0 3px;
					padding: 0;
					border-radius: 0;
					&:first-of-type,&:last-of-type{
						border-radius: 0;
					}
					&.segment-activated{
						background-color: transparent;
						color: #22b54e;
						border-bottom: 2px solid #22b54e;
					}
				}
			}
			&-list{
				background-color: transparent;
				padding-top: 5px;
				&-item{
					background-color: rgba(255,255,255,.95);
					border-radius: 7px;
					box-shadow: 0 2px 6px -3px #000;
					margin: 0 5px 10px;
					width: auto;
					padding: 10px 3px;
					position: relative;
					.item-inner{
						border-bottom:none;
						padding-right: 0;
					}
					.label{
						margin: 0;
						
					}
					ion-grid{
						padding-bottom: 0;
					}
					ion-col{
						padding-bottom: 0;
					}
				}
			}
			&-goto{
				margin-top: 15px;
				display: block;
				padding: 5px 15px;
				background-color: #f7f7f7;
				text-transform: none;
				&-wrapper{
					width: 100%;
					justify-content: center;
				}
			}
			&-name{
				justify-content: center;
				width: 100%;
				text-align: center;
				font-weight: bold;
				padding: 0 27px;
			}
			&-row{
				margin-bottom: 10px;
				font-size: 1.8rem;
				&-key{
					font-size: 1.6rem;
					color:#22b54e;
					font-weight: normal;
				}
				&-left{
					display: flex;
					align-items:center;
					margin-top:5px;
					.place-value{
						margin-right:5px;
					}
					.place-key{
						color:#22b54e;
						font-size: 1.5rem
					}
				}
				&-right{
					justify-content: flex-end;
					display: flex;
					margin-right:-5px;
					align-items:center;
					margin-top:5px;
					.place-value{
						margin-left:5px;
					}
					.place-key{
						color:#22b54e;
						font-size: 1.5rem
					}
				}
			}
			&-summ{
				display: flex;
				position: relative;
				width:100%;
				align-items: center;
				margin-top:15px;
				border-top: 2px solid #ccc;
				padding-top: 10px;
				padding-bottom: 3px;
				&-key{
					color:#22b54e;
					font-size: 1.5rem;
					margin-right:10px;
				}
				&-value{
					font-size: 1.8rem;
					font-weight: bold;
				}
				button{
					position: absolute;
					right: 0;
					background-color: #4ac26e;
					border-radius: 7px;
					padding: 4px 2px;
					color: #fff;
					height: auto;
					margin:0;
				}
			}
			&-label{
				font-size: 2rem;
				padding-left: 5px;
			}
			&-menu{
				border-top:2px solid #ccc;
				width: 100%;
				padding-top: 8px;
				margin-top: 15px;
				&-item{
					display: flex;
					justify-content: space-between;
					border-bottom: 1px dotted #ccc;
					margin: 7px 0;
					&-key,&-value{
						position: relative;

						top:2px;
						background-color: #fff;
					}
					&-key{
						color:#22b54e;
					}
					&-value{
						font-weight: bold;
					}
				}
			}
			&-remove{
				position: absolute;
				top: 0;
				right: 3px;
				background-color: #f7f7f7;
				font-size: 1.8rem;
				padding: 0 7px;
			}
    }

		
  }
}
