// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Webfont: icomoon */@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon/icomoon.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/icomoon/icomoon.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/icomoon/icomoon.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/icomoon/icomoon.svg#icomoon') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeueCyr-Thin */@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Roboto-Regular */@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Roboto/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Roboto-Bold */@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Roboto/Roboto-Bold.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}


.gallery-modal .close-button {
   	color:#fff;
}
.picker-button,.picker-opt.picker-opt-selected, .alert-button, [aria-checked=true] .alert-radio-label, .alert-radio-inner, [aria-checked=true] .alert-radio-icon{
	color: #22b54e !important;
	border-color: #22b54e !important;
	
}
#cart-btn{
	button{
		background-color: #52c939;
		color:#fff;
	}
	
}
.item{
	&-select{
		.label-md, .label-ios, .label-wp{
			color: #000;
			&[stacked]{
				font-size: 1.5rem;
			}
		}
	}
}
[aria-checked=true] {
	.alert-checkbox-inner{
		border-color: #22b54e !important;
	}
	.alert-checkbox-label{
		color: #22b54e !important;
	}
	.alert-radio-inner{
		background-color: #22b54e !important;
	}
}
.range-md, .range-ios, .range-wp{
	padding: 0!important;
	.range-knob {
	    border: 2px solid #24b650 !important;
	}
	.range-tick-active {
	    
	}
	.range-tick {
		&-active{
			background: #22b54e !important;
		}
	    background: #dedede !important;
	}
}
.toggle-md,.toggle-ios,.toggle-wp {
	.toggle{
		&-checked {
		    background-color: #22b54e;
		}
	}
	
}
.filter{
	
	&-bg{
		height: 100%;
		width: 100%;
		.item-block{
			background-color: transparent!important;
		}
	}
	&-menu{
		margin-bottom: 0px;
		margin-top: 60px;
		.menu-inner{
			font-family: 'Roboto';
			background-image: url(../assets/bg/bg-home.jpg);
	    	background-size: cover;
	    	height: 100%;
		}
		ion-content{
			background-image: none!important;
			background-color: rgba(255,255,255, .65);
		}
		ion-item{
			padding-right: 7px;
			padding-left: 7px;
		}
	}
	
	&-title{
		padding-top: 30px;
		text-align: center;
		margin-bottom: 20px;
	}
	&-submit{
		text-align: center;
		margin-bottom: 30px;
		&-btn{
		    border-radius: 5px;
		    background: #22b54e;
		    box-shadow: none;
		    text-transform: none;
		    color: #fff;
		    height: 36px;
		    font-size: 16px;
		    line-height: 20px;
		    padding: 0 30px;
		}
	}
}
.app{
	&-menu{
		font-family: 'HelveticaNeueCyr',sans-serif;
		&-btn{
			width: 44px;
			height: 32px;
			margin-right:6px; 
			background-color: transparent;
		}
	}
	&-header{
		box-shadow: 0 0 10px -3px #000;
		.toolbar{
		    min-height: 60px!important;
		}
		.toolbar-background{
			background: #22b54e;
			background: -moz-linear-gradient(left,  #22b54e 0%, #52c939 100%);
			background: -webkit-linear-gradient(left,  #22b54e 0%,#52c939 100%);
			background: linear-gradient(to right,  #22b54e 0%,#52c939 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22b54e', endColorstr='#52c939',GradientType=1 );
			border: none;

		}
		.bar-button-default-md, .bar-button-default-wp{
			color:#fff;
		}
	}
	&-logo{
		text-align: center;
		color: #fff;
		.toolbar-title{
			color:#fff;
		}
		img{
			width: 130px;
			align-self:center;
		}
	}
}

.menu{
	&-header{
		
	}
	&-profile{
		display: flex;
		justify-content: center;
		flex-wrap:wrap;
		align-items: center;
		background-image: url(../assets/bg/bg.jpg);
		background-size: cover;
		min-height: 30vh;
		flex-direction: column;	
		&-avatar{
			width: 95px;
			height: 95px;
			text-align: center;

			border: 3px solid #f8f8f8;
			border-radius: 100%;
			overflow: hidden;
			img{
				max-width: 100%;
			}
		}
		&-name{
			width: 100%;
			text-align: center;
			margin-top: 10px;
			font-size: 18px;
			color:#fff;
		}
	}
	&-list{
		padding-top: 10px;
		padding-bottom: 15px;
		margin:0;
		&-hl{
			border-bottom:1px solid #ccc;
		}
		&-item{
			font-size: 15px;
			min-height: 40px!important;

			&.active{
				background-color: #2dba4a;
				color:#fff;
				ion-icon{
					color:#fff;
				}
			}
			&:first-child{
				border-top: none!important;
			}
			&:last-child{
				border-bottom: none!important;
			}
			>.item-inner{
				background-image: none!important;
				border-bottom: none!important;
			}
			ion-label{
				line-height: 20px;
				margin: 0;
				padding: 5px 0;
			}
			ion-icon{
				font-size: 26px;
				width: 25px;
				height: 28px;
				display: inline-block;
				position: relative;
				vertical-align: middle;
				text-align: center;
				margin-right: 5px;
				color:#22b54e;
			}
			&-icon{
				width: 20px;
				height: 28px;
				margin-right: 5px;
				background-image: url(../assets/icon/menu-icons.svg);
				background-size: 43px;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: -1px;
				&.checkin{
					background-position-y: -22px;
				}
				&.order{
				    background-position-y: -42px;
				}
				&.cart{
				    background-position-y: -61px;
				}
				&.clock{
					background-position-y: -82px;

				}
				&.favourite{
					
					background-position-y: -125px;
				}
				&.trash{
					background-position-y: -103px;

				}
				&.wrench{
					background-position-y: -145px;

				}
				&.logout{
					background-position-y: -165px;
					top:-2px;
				}
			}
		}
	}
	&-logout{
		ion-label{
			line-height: 20px;
		}
		.item-inner{
			border-bottom: none!important;
		}
	}
}
