/* Webfont: icomoon */@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot'); /* IE9 Compat Modes */
    src: url('icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('icomoon.woff') format('woff'), /* Modern Browsers */
         url('icomoon.ttf') format('truetype'), /* Safari, Android, iOS */
         url('icomoon.svg#icomoon') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

