
<ion-header class="app-header">
  <ion-navbar>
    <button ion-button menuToggle="left" class="app-menu-btn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="app-logo">Избранное</ion-title>
    <ion-buttons end>
      <button class="app-menu-btn empty">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content (ionScroll)="onScroll()">
  <div id="segments-start" class="place-tab-list-wrapper">
    <ion-segment id="segments" [(ngModel)]="favContent" class="place-tab-list" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button class="place-tab-item" value="0">
        Заведения
      </ion-segment-button>
      <ion-segment-button class="place-tab-item"  value="1">
        Доставка
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="slider-wrapper">
    <ion-slides #favSlider (ionSlideDidChange)="onSlideChanged($event)">
      <ion-slide >
        <ion-card class="c-place" *ngFor="let place of places">
          <img src="{{place.src}}"/>
          <ion-grid>
            <ion-row>
              <ion-col class="c-place-desc" (click)="goInner(place.id)" width-5>
                <div class="card-title c-place-title">{{place.title}}</div>
                <div class="card-subtitle c-place-address">{{place.address}}</div>
                <div [ngClass]="(place.open) ? 'card-status-open' : 'card-status-closed'" [innerHTML]="(place.open) ? 'открыто' : 'закрыто'" 		    			class="card-status">
                </div> 
                <div class="card-rating c-place-rating">
                  <div class="c-place-rating-stars">
                    <div class="c-place-star" *ngFor="let item of getStars(5, place.star)">
                      <ion-icon *ngIf="item" name="star"></ion-icon>
                      <ion-icon *ngIf="!item" name="star-outline"></ion-icon>
                    </div>
                  </div>
                  <div class="card-rating-count">
                    ({{place.count}})
                  </div>
                </div>
              </ion-col>
              <ion-col class="c-place-desc" width-5>
                <ion-buttons>
                  <button (click)="goInnerPlaceBook(place.id)" ion-button block class="c-place-btn primary"><i class="ic ic-clock"></i>Забронировать</button>
                  <button ion-button block class="c-place-btn hollow"  (click)="CallNumber(place.phone)"><i class="ic ic-tel"></i>Позвонить</button>
                </ion-buttons>
              </ion-col>
            </ion-row>

          </ion-grid>
        
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-list class="delivery-places">
          <ion-item *ngFor="let place of delivery.places" (click)="goInnerDelivery(place.id)" class="delivery-place">
            <div *ngIf="place.hasCart" class="delivery-cart">
              {{place.cartCount}}
              <ion-icon name="cart"></ion-icon>
            </div>
            <ion-thumbnail item-left >
              <img src="{{place.src}}" alt="{{place.title}}">
            </ion-thumbnail>
            <h2>{{place.title}}</h2>
            <div [ngClass]="(place.open) ? 'card-status-open' : 'card-status-closed'" [innerHTML]="(place.open) ? 'открыто' : 'закрыто'" 		    			class="card-status"></div>
            <div class="card-rating c-place-rating">
              <div class="c-place-rating-stars">
                <div class="c-place-star" *ngFor="let item of getStars(5, place.star)">
                  <ion-icon *ngIf="item" name="star"></ion-icon>
                  <ion-icon *ngIf="!item" name="star-outline"></ion-icon>
                </div>
              </div>
              <div class="card-rating-count">
                  ({{place.count}})
              </div>
            </div>

          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>